
<div class="alert alert-danger" role="alert" ng-show="page_load_error">
    {{page_load_error}}
</div>

<div style="padding: 50px;">
    <p><input placeholder="Type to search..." type="text" ng-model="criteria"></p>
    <p>Displaying {{albums.length | pluralise:'album'}}</p>

    <pa-album albumdata='album' ng-repeat="album in albums | my_filter:{findMe:criteria,fields:['title','description']}">
    </pa-album>

    <div style="clear: left"></div>

    <h3> Add new album</h3>

     <pa-Album-Form></pa-Album-Form>
    <div style="clear: left"></div>
    <p>The Name of the Last Album Created by you was:{{last_album_created}}</p>

</div>

